.footer {
  background-color: var(--color-violet);
  color: #fff;
  font-size: 1.6rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 8rem;
  p {
    color: #fff;
  }
}

p:hover {
  color: orangered;
}
