.footer {
  background-color: var(--color-violet);
  color: #fff;
  font-size: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
  p {
    color: #fff;
  }
}

// #footer {
//   position: absolute;
//   bottom: 0;
//   width: 100%;
//   height: 2.5rem;            /* Footer height */
// }
